* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.img-logo {
    height: 80px;
    width: 140px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 70px;
    position: absolute;
    z-index: 99;
}

.header-navbar ul {
    display: flex;
    gap: 10px;
    font-size: 25px;
}

.header-navbar ul li {
list-style-type: none;
}

.header-navbar ul li a:hover{
    background-color: olivedrab;
    padding: 10px;
    border-radius: 15px;
}

.header-navbar a {
    text-decoration: none;
    color: white;
    transition: 0.5s 0.2s;
    padding: 10px;
}
/* section hero */

#section-hero {
    display: flex;
    position: relative;
}

.img-hero {
    width: 100%;
}

.text-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 30%;
    color: white;
}

.text-hero h1 {
    font-size: 35px;
    font-weight: 700;
}

.text-hero h2 {
    font-size: 30px;
    font-weight: 800;
}

.text-hero h1 {
    font-size: 30;
    font-weight: 800;
}